-content_for :head do
  %meta{:name => "description", :content => "Få korrekt data över dina Google-placeringar, ha enkelt koll på tusentals sökord och bevaka hur många olika webbplatser du vill. Prova gratis i 14 dagar!"}
  %title RankTrail - Rundtur
#tour
  .feature.feature-even
    .container
      .row-fluid
        .span7
          =image_tag "features/seo-test-checklist.png"  
        .span6
          %h2 RankTrail ger dig konkreta förslag på förbättringar
          %p RankTrail ger dig en konkret SEO checklista med förslag på förbättringar som hjälper dig öka dina organiska placeringar på Google. Checklistan är pedagogiskt uppbygd och du behöver inte vara SEO proffs för att förstå vad du behöver göra. När du genomfört förändringarna kan du luta dig tillbaka och mjukvaran visar förbättringen av dina placeringar medan dina besökare på din webbplats ökar!
  .feature.feature-odd
    .container
      .row-fluid
        .span6
          %h2 Snabb överblick och snygga rapporter
          %p Mjukvaran ger dig koll på alla dina webbplatser, landningssidor och konkurrenter på ett och samma ställe. Med RankTrail får du en snabb överblick och på så vis spar du värdefull tid. Du kan enkelt generera snygga rapporter som du själv avgör hur ofta du vill ha dem. Givetvis kan du även exportera till både PDF och Excel. Rapporterna kan dessutom anpassas beroende på hur mycket detaljer du vill se.
        .span7
          =image_tag "features/seo-reports.png"
  .feature.feature-evens
    .container
      .row-fluid
        =image_tag "features/competitors.png"
        .span6
          %h2 Få stenkoll på dina konkurrenter
          %p RankTrail jämför enkelt dina sökordsplaceringar och utveckling mot dina konkurrenter. Bevaka upp till hela 50 konkurrenter. Med mjukvaran kan även enkelt ta reda på vem som rankar var och om det finns några uppenbara luckor i marknaden. Är konkurrensen på videoresultat låg är det kanske det du ska satsa på?
        
          %p Genom att jämföra dig med dina konkurrenter får  du bättre kontroll och snabbare kan förhindra att tappa topplaceringar med förlorade besök och intäktsförluster som följd.       
  #call-to-action
    .container
      .row
        .span12
          %p
          %a.button-style.button-color-purple{:href => 'http://www.ranktrail.se/boka-demo-av-ranktrail/'}boka ranktrail-demo  
          %p.no-obligations Med RankTrail får du koll. Vi visar dig hur du kan öka intäkterna från Google!
  .feature.feature-odds
    .container
      .row-fluid
        .span6
          %h2 Satsa på rätt sökord
          %p RankTrail hjälper dig att bevaka upp till hela 2000 sökord. Du får snabbt resultatet av alla dina sökord och sparar massor med tid. Mjukvaran hjälper dig också att välja rätt sökord och visar hur många som söker på respektive sökord. Detta ger dig ovärderlig information om du satsar på rätt sökord eller missar sökord med hög sökvolym.
           
          %p Är sökvolymen hög och din placering dålig då är potentialen desto större!
        .span7
          =image_tag "features/search-volume1.png"   
  .feature.feature-more-evens
    .container
      .row-fluid
        =image_tag "features/ranking-graf.png"
        .span6
          %h2 Snygga grafer och historik
          %p RankTrail ger dig snygga grafer och visar även historiken på dina sökord och placeringar. Mjukvaran hjälper dig att hålla koll på utvecklingen och du kan se resultatet av ditt SEO arbete. Graferna ger dig snabb överblick och du kan på ett enkelt och överskådligt sätt till exempel jämföra dig med dina konkurrenter eller grotta ner dig på enskilt sökord och se hur utvecklingen ser ut.
  .feature.feature-more-odds
    .container
      .row-fluid
        .span6
          %h2 Flera länder? Inga problem
          %p RankTrail hanterar fler olika länder. Jobbar du med flera länder kan du enkelt övervaka resultatet i ett flertal länder med hjälp av mjukvaran. Funderar du på att lansera nya länder kan du enkelt kolla konkurrensen och sökvolymen på de marknader du är intresserad av.
        .span7        
          =image_tag "features/multiple-countries.png"
  #call-to-actions
    .container
      .row
        .span12
          %p
          %a.button-style.button-color-purple{:href => 'http://www.ranktrail.se/boka-demo-av-ranktrail/'}boka ranktrail-demo  
          %p.no-obligations Med RankTrail får du koll. Vi visar dig hur du kan öka intäkterna från Google!       
  #footer
    .container
      =render :partial => "layouts/footer"                     
